/* webfont-marker-begin */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html body {
  font-synthesis: style;
}
/* webfont-marker-end */

@font-face {
  font-family: 'cang er';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('../fonts/canger.ttf');
}
