
/**
 * Component: App
 * -------------------------------------------------------------------------- */

 #app {
    background-image: url('../images/background.png');
  }

  body {
    font-size: 1.2em;
    line-height: 1.15em;
  }
  li {
    font-size: 1.05em;
    line-height: 1.05em;
  }
  p {
    font-size: 1.2em;
    line-height: 1.15em;
  }
  li p {
    font-size: 1.2em;
    line-height: 1.15em;
  }
  

  .vp-doc blockquote > p {
    font-size: 1.1em;
    line-height: 1em;
  }
  .vp-doc h1,.vp-doc h2, .vp-doc h3, .vp-doc h4, .vp-doc h5{
    font-size: 2.4em;
    line-height: 2em;
  }


/**
 * Component: Code
 * -------------------------------------------------------------------------- */

 :root {
    --vp-code-line-height: 1.1em;
    --vp-code-font-size: 1em;
  
    --vp-code-block-color: #b89485;
    /* --vp-code-block-bg: #292d3e; */
    --vp-code-block-bg: #363433;
  
    --vp-code-line-highlight-color: rgba(0, 0, 0, 0.5);
    --vp-code-line-number-color: var(--vp-c-text-dark-3);
  
    --vp-code-line-diff-add-color: rgba(125, 191, 123, 0.1);
    --vp-code-line-diff-add-symbol-color: rgba(125, 191, 123, 0.5);
  
    --vp-code-line-diff-remove-color: rgba(255, 128, 128, 0.05);
    --vp-code-line-diff-remove-symbol-color: rgba(255, 128, 128, 0.5);
  
    --vp-code-line-error-color: var(--vp-c-red-dimm-2);
    --vp-code-line-warning-color: var(--vp-c-yellow-dimm-2);
  
    --vp-code-copy-code-hover-bg: rgba(255, 255, 255, 0.05);
    --vp-code-copy-code-active-text: var(--vp-c-text-dark-2);
  }
  
  .dark {
    --vp-code-block-bg: var(--vp-c-bg-alt);
  }
  
  /**
   * Component: Button
   * -------------------------------------------------------------------------- */
  
  :root {
    --vp-button-brand-border: var(--vp-c-brand-light);
    --vp-button-brand-text: var(--vp-c-text-dark-1);
    --vp-button-brand-bg: var(--vp-c-brand);
    --vp-button-brand-hover-border: var(--vp-c-brand-light);
    --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
    --vp-button-brand-hover-bg: var(--vp-c-brand-light);
    --vp-button-brand-active-border: var(--vp-c-brand-light);
    --vp-button-brand-active-text: var(--vp-c-text-dark-1);
    --vp-button-brand-active-bg: var(--vp-button-brand-bg);
  
    --vp-button-alt-border: var(--vp-c-gray-light-3);
    --vp-button-alt-text: var(--vp-c-text-light-1);
    --vp-button-alt-bg: var(--vp-c-gray-light-5);
    --vp-button-alt-hover-border: var(--vp-c-gray-light-3);
    --vp-button-alt-hover-text: var(--vp-c-text-light-1);
    --vp-button-alt-hover-bg: var(--vp-c-gray-light-4);
    --vp-button-alt-active-border: var(--vp-c-gray-light-3);
    --vp-button-alt-active-text: var(--vp-c-text-light-1);
    --vp-button-alt-active-bg: var(--vp-c-gray-light-3);
  
    --vp-button-sponsor-border: var(--vp-c-gray-light-3);
    --vp-button-sponsor-text: var(--vp-c-text-light-2);
    --vp-button-sponsor-bg: transparent;
    --vp-button-sponsor-hover-border: var(--vp-c-sponsor);
    --vp-button-sponsor-hover-text: var(--vp-c-sponsor);
    --vp-button-sponsor-hover-bg: transparent;
    --vp-button-sponsor-active-border: var(--vp-c-sponsor);
    --vp-button-sponsor-active-text: var(--vp-c-sponsor);
    --vp-button-sponsor-active-bg: transparent;
  }
  
  .dark {
    --vp-button-brand-border: var(--vp-c-brand-light);
    --vp-button-brand-text: var(--vp-c-text-dark-1);
    --vp-button-brand-bg: var(--vp-c-brand-dark);
    --vp-button-brand-hover-border: var(--vp-c-brand-lighter);
    --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
    --vp-button-brand-hover-bg: var(--vp-c-brand);
    --vp-button-brand-active-border: var(--vp-c-brand-lighter);
    --vp-button-brand-active-text: var(--vp-c-text-dark-1);
    --vp-button-brand-active-bg: var(--vp-button-brand-bg);
  
    --vp-button-alt-border: var(--vp-c-gray-dark-2);
    --vp-button-alt-text: var(--vp-c-text-dark-1);
    --vp-button-alt-bg: var(--vp-c-bg-mute);
    --vp-button-alt-hover-border: var(--vp-c-gray-dark-2);
    --vp-button-alt-hover-text: var(--vp-c-text-dark-1);
    --vp-button-alt-hover-bg: var(--vp-c-gray-dark-2);
    --vp-button-alt-active-border: var(--vp-c-gray-dark-2);
    --vp-button-alt-active-text: var(--vp-c-text-dark-1);
    --vp-button-alt-active-bg: var(--vp-button-alt-bg);
  
    --vp-button-sponsor-border: var(--vp-c-gray-dark-1);
    --vp-button-sponsor-text: var(--vp-c-text-dark-2);
  }
  
  /**
   * Component: Custom Block
   * -------------------------------------------------------------------------- */
  
  :root {
    --vp-custom-block-code-font-size: 16px;
  
    --vp-custom-block-info-border: var(--vp-c-divider-light);
    --vp-custom-block-info-text: var(--vp-c-text-2);
    --vp-custom-block-info-bg: var(--vp-c-yzh-yellow-soft);
    --vp-custom-block-info-code-bg: var(--vp-c-gray-light-4);
  
    --vp-custom-block-tip-border: var(--vp-c-green-dimm-1);
    --vp-custom-block-tip-text: var(--vp-c-green-darker);
    --vp-custom-block-tip-bg: var(--vp-c-green-dimm-3);
    --vp-custom-block-tip-code-bg: var(--vp-custom-block-tip-bg);
  
    --vp-custom-block-warning-border: var(--vp-c-yellow-dimm-1);
    --vp-custom-block-warning-text: var(--vp-c-yellow-darker);
    --vp-custom-block-warning-bg: var(--vp-c-yellow-dimm-3);
    --vp-custom-block-warning-code-bg: var(--vp-custom-block-warning-bg);
  
    --vp-custom-block-danger-border: var(--vp-c-red-dimm-1);
    --vp-custom-block-danger-text: var(--vp-c-red-darker);
    --vp-custom-block-danger-bg: var(--vp-c-red-dimm-3);
    --vp-custom-block-danger-code-bg: var(--vp-custom-block-danger-bg);
  
    --vp-custom-block-details-border: var(--vp-custom-block-info-border);
    --vp-custom-block-details-text: var(--vp-custom-block-info-text);
    --vp-custom-block-details-bg: var(--vp-custom-block-info-bg);
    --vp-custom-block-details-code-bg: var(--vp-custom-block-details-bg);
  }
  
  .dark {
    --vp-custom-block-info-border: var(--vp-c-divider-light);
    --vp-custom-block-info-bg: var(--vp-c-black-mute);
    --vp-custom-block-info-code-bg: var(--vp-c-gray-dark-4);
  
    --vp-custom-block-tip-border: var(--vp-c-green-dimm-2);
    --vp-custom-block-tip-text: var(--vp-c-green-light);
  
    --vp-custom-block-warning-border: var(--vp-c-yellow-dimm-2);
    --vp-custom-block-warning-text: var(--vp-c-yellow-light);
  
    --vp-custom-block-danger-border: var(--vp-c-red-dimm-2);
    --vp-custom-block-danger-text: var(--vp-c-red-light);
  }
  
  /**
   * Component: Nav
   * -------------------------------------------------------------------------- */
  
  :root {
    --vp-nav-height: var(--vp-nav-height-mobile);
    --vp-nav-height-mobile: 56px;
    --vp-nav-height-desktop: 72px;
  }
  
  @media (min-width: 960px) {
    :root {
      --vp-nav-height: var(--vp-nav-height-desktop);
    }
    
  }

 
  
  /**
   * Component: Sidebar
   * -------------------------------------------------------------------------- */
  
  :root {
    --vp-sidebar-width: 272px;
  }
  
  /**
   * Component: Home
   * -------------------------------------------------------------------------- */
  
  :root {
    --vp-home-hero-name-color: var(--vp-c-brand);
    --vp-home-hero-name-background: transparent;
  
    --vp-home-hero-image-background-image: none;
    --vp-home-hero-image-filter: none;
  }

  